.spinner{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.spinning{
    animation: Spinner 1s linear infinite;
}

@keyframes Spinner {
   to{
       transform: rotate(360deg);
   } 
}